
.icon-facebook-1:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-pinterest:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */